

$navbar-height: 5.5rem;

app-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh;
    background-color: #1a1a1a;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.8s cubic-bezier(.36,-0.01,0,.77);
    z-index: 10;
}

.app-side-nav-open {
    width: 250px;
    transition: 0.8s cubic-bezier(.36,-0.01,0,.77);
}

app-navbar {
    position: fixed;
    top: 0;
    left: 70px;
    right: 0;
    height: $navbar-height;
    z-index: 5;
    background-color: #f6f6f9;
    transition: 0.8s cubic-bezier(.36,-0.01,0,.77);
}

.app-navbar-open {
    left: 250px;
}

.navbar-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

main {
    position: absolute;
    width: 100%;
    top: $navbar-height;
    z-index: 1;
}

.display-area {
    position: absolute;
    left: 70px;
    transition: 0.8s cubic-bezier(.36,-0.01,0,.77);
}

.display-area-shrink {
    transition: 0.8s cubic-bezier(.36,-0.01,0,.77);
    left: 250px;
    width: calc(100% - 250px);
}
