<div class="login-register login-sidebar" style="background-image:url(../assets/images/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" [formGroup]="loginForm">
                <a class="d-flex justify-content-center mb-0"><img class="logo" src="../assets/images/logovilagro.jpeg" alt=""></a>
                <div class="form-group mt-5">
                    <div class="col-xs-12">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre de Usuario:</mat-label>
                            <input matInput type="text" placeholder="" formControlName="email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <mat-form-field class="full-width">
                            <mat-label>Contraseña:</mat-label>
                            <input matInput  placeholder="" formControlName="password" required [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="button-login" mat-fab extended color="primary" (click)="onLogin()">
                            <mat-icon>login</mat-icon>
                            Ingresar
                        </button>
                        <!-- <button *ngIf="!hideSideButton" mat-fab extended color="primary" (click)="onLogin()">
                            <mat-icon>login</mat-icon>
                            responsive
                        </button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>