.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

mat-radio-button {
    margin: 0px 20px;
  }

.state-radio-button {
    margin-top: 20px;
    margin-bottom: 30px;
}
.select-div {
    display: flex;
    justify-content: space-around;
    // gap: 2rem;
    // margin-left: 1rem;
}

.input-div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


button {
    height: 35px;
    background: #7380ec;
    color: #fff;
    border: #7380ec;
    border-radius: 40px;
    padding: 0 2rem;
    margin: 0.25rem;
    cursor: pointer;
}

.btn-cancel {
    height: 35px;
    // line-height: 40px;
    background: #fff;
    color: black;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 40px;
    padding: 0 2rem;
    cursor: pointer;
}

