

.header {
    // position: block;
    // position: block;
    display: flex;
    justify-content: space-between;
    // background-color: #f6f6f9;
    // background-color: peru;
    height: 100%;
    padding: 0 20px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .buton-toggle {
    margin-left: 15px;
}


.profile {
    display: flex;
    text-align: right;
    justify-content: center;
    margin-top: 0.5rem;
    margin-right: 10px;
    gap: 0;
    
    // text-align: left;
}

.profile button {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    // background-color: red;
    border: none;
    margin-top: -9px;
    margin-right: -10px;
    // margin-left: 10px;
}


