<div class="dashboard">
    <h1>DASHBOARD</h1>
    
    <!-- <div class="dates">
        <mat-form-field >
            <mat-label>Ingrese un rango de fechas:</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div> -->

    <div class="insights">
        <div class="products">
            <span>
                <mat-icon fontIcon="shopping_cart"></mat-icon>
            </span>
            <div class="middle">
                <div class="left">
                    <h3>Ganancia neta</h3>
                    <h2>S/. {{ monthlyProfit }}</h2>
                </div>
                <div class="progress">
                    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
                    <div class="number">
                        100%
                    </div>
                </div>
            </div>
            <small class="text-muted">{{ currentMonth | titlecase }}</small>
        </div>
        <div class="sales">
            <span>
                <mat-icon fontIcon="analytics"></mat-icon>
            </span>
            <div class="middle">
                <div class="left">
                    <h3>total de ventas</h3>
                    <h2>S/. {{ amountSales }}</h2>
                </div>
                <div class="progress">
                    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
                    <div class="number">
                        100%
                    </div>
                </div>
            </div>
            <small class="text-muted"> {{ currentMonth | titlecase }}</small>
        </div>
        <div class="expenses">
            <span>
                <mat-icon fontIcon="stacked_line_chart"></mat-icon>
            </span>
            <div class="middle">
                <div class="left">
                    <h3>Número de ventas</h3>
                    <h2>{{ totalSales }}</h2>
                </div>
                <div class="progress">
                    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
                    <div class="number">
                        100%
                    </div>
                </div>
            </div>
            <small class="text-muted">{{ currentMonth | titlecase }}</small>
        </div>
    </div>
    <div class="table-reports">
        <div class="recent-orders">
            <h2>PRODUCTOS MÁS VENDIDOS</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef> N° </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef> Producto </th>
                  <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="cantidad_vendida">
                  <th mat-header-cell *matHeaderCellDef> Cantidad Vendida </th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidad_vendida}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="low-stock">
            <h2>BAJOS EN STOCK</h2>
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Producto </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="categoria">
                  <th mat-header-cell *matHeaderCellDef> Categoria </th>
                  <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="cantidadEnStock">
                  <th mat-header-cell *matHeaderCellDef> Stock </th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidadEnStock}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
    </div>
</div>