

 <h2 mat-dialog-title class="dialog-title">
  {{data.provider.nombreProvider ? data.provider.nombreProvider : 'Sin Nombre'}}
  <span class="estado">{{data.provider.estadoProvider}}</span>
</h2>

<mat-dialog-content class="dialog-content">

  <p class="subtitulo">Monto: S/.{{data.provider.deudaInicial}} - Fecha: {{data.provider.fechaCreacion | date:'dd/MM/yyyy'}}</p>

  <!-- <span class="estado">{{data.provider.estadoProvider}}</span> -->

  <h3>Historial de Pagos</h3>

  <div *ngIf="data.provider.pagos.length === 0">
      <span>Aun no has realizado ningún pago</span>
  </div>

  <div class="pago-card" *ngFor="let cuota of data.provider.pagos; let i = index">
    
    <div>
      <strong>Cuota #{{i + 1}}</strong><br />
      {{ cuota.fecha | date:"dd/MM/yy, h:mm a" }}
    </div>
    <div class="monto">
      S/.{{ cuota.monto | number:'1.2-2' }}
    </div>
    
  </div>

  <hr />

  <div class="totales">
    <div class="total-pagado-container">
      <strong>Total Pagado:</strong>
      <span class="total-pagado"></span>
      <span class="total-pagado">S/.{{ monto_pagado| number:'1.2-2' }}</span>
    </div>
    <div class="deuda-pendiente-container">
      <strong>Deuda Pendiente:</strong>
      <span class="deuda-pendiente">S/.{{ data.provider.deudaActual | number:'1.2-2' }}</span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="button-cerrar" mat-stroked-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>