
.mat-mdc-dialog-title {

  text-transform: capitalize;
  display: flex;
  justify-content: normal;
  align-items: baseline;
  gap: 25px;
  margin-left: -25px;

  .estado {
    margin-left: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: #8bc34a;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 6px;

  }
}

.dialog-content {
  font-family: Arial, sans-serif;
  color: #333;
  position: relative;

  .subtitulo {
    font-size: 14px;
    margin: 0 0 10px;
    color: #666;
  }

  .estado {
    position: absolute;
    top: 16px;
    right: 16px;
    background: #8bc34a;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 6px;
  }

  h3 {
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .pago-card {
    background: #fafaf7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    min-width: 400px;

    .monto {
      color: #8bc34a;
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
    }
  }

  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }

  .totales {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .total-pagado {
      color: #8bc34a;
      font-weight: bold;
    }

    .deuda-pendiente {
      color: #d32f2f;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .total-pagado-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-right: 5px;
    
  }
  .deuda-pendiente-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-right: 5px;

  }
}

button {
  background: #fff;
  border: 1.5px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px 22px;
  font-size: 1.08rem;
  font-weight: 500;
  color: #18181b;
  cursor: pointer;
  transition: background 0.15s, border 0.15s;
}