<h2 *ngIf="data.operation == 'create'" mat-dialog-title>Nueva Venta:</h2>
<h2 *ngIf="data.operation == 'update'" mat-dialog-title>Actualizar Venta:</h2>
<mat-dialog-content class="mat-typography">
  <div class="example-container" >
    <form class="example-form" [formGroup]="saleForm">
      <!-- <mat-form-field class="input-name">
        <mat-label>Vendedor:</mat-label>
        <mat-select formControlName="nombreVendedor">
          <mat-option *ngFor="let item of vendedores" [value]="item.aliasVendedor">
          {{item.aliasVendedor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-name">
        <mat-label>Nombre del cliente:</mat-label>
        <input matInput type="text" placeholder="" formControlName="nombreCliente">
      </mat-form-field>

      <mat-form-field class="input-name">
        <mat-label>Dirección:</mat-label>
        <input matInput type="text" placeholder="Opcional" formControlName="direccionCliente">
      </mat-form-field> -->
      <div formGroupName="pago">
        <div class="metodo-pago">
          <label>Método de Pago:</label>
          <mat-radio-group formControlName="tipo">
            <mat-radio-button value="efectivo">💵 Efectivo</mat-radio-button>
            <mat-radio-button value="transferencia">🏦 Transferencia</mat-radio-button>
            <mat-radio-button value="yape">📱 Yape</mat-radio-button>
            <mat-radio-button value="plin">📱 Plin</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div  class="table-container">
        <div class="table-controls">
          <mat-form-field class="example-full-width">
              <mat-label>Buscar productos</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
          </mat-form-field>
          
        </div>

        <div class="table-scroll">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let row"> {{row.category}} </td>
            </ng-container>

            <ng-container matColumnDef="measure">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Medida </th>
              <td mat-cell *matCellDef="let row"> {{row.measure}} </td>
            </ng-container>

            <ng-container matColumnDef="priceSale">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PrecioVenta </th>
              <td mat-cell *matCellDef="let row"> S/.{{row.priceSale | number:'1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
              <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
              <td mat-cell *matCellDef="let row">
                <div class="btn-actions">
                  <button (click)="addProducto(row)"><mat-icon fontIcon="add" ></mat-icon></button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[3,5,10]" aria-label="Select page of users"></mat-paginator>
        </div>
        
      </div>
      
      <div class="cart" formArrayName="productos">
        <div class="cart-title">
          <h3>Producto:</h3>
          <h3>Presentación:</h3>
          <h3 class="cantidad">Cantidad:</h3>
          <h3>Precio Unitario:</h3>
          <h3>Eliminar producto:</h3>
        </div>
        <div class="cart-element" *ngFor="let item of productos.controls; let i = index" [formGroupName]="i">
          <h3 class="product">{{ item.get('nombreProducto')!.value }}</h3>
          <mat-form-field class="sku-select">
            <mat-select formControlName="skuId" (selectionChange)="onSkuChange(i)">
              <mat-option *ngFor="let sku of item.get('skus')!.value" [value]="sku.skuId">
                {{ sku.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="quantity buttons_added">
            <input type="button" value="-" class="minus" (click)="decrementCantidad(i)">
            <input readonly (change)="updatePrecioTotal()" type="number" step="1" name="quantity" 
            [value]="item.get('cantidad')!.value" class="input-text qty text" size="4" formControlName="cantidad">
            <input type="button" value="+" class="plus" (click)="incrementCantidad(i)">
          </div>
          <!-- <input type="number" (change)="updatePrecioTotal()"> -->
          <!-- <h3 class="unitaryPrice" (change)="updatePrecioTotal()">S/.{{ item.get('precioUnitario')!.value | number:'1.2-2' }}</h3> -->
          <!-- <input type="number" name="" id="" [value]="item.get('precioUnitario')!.value"> -->
          <mat-form-field class="unitaryPrice">
            <input matInput type="number" 
                   formControlName="precioVentaUnitario" 
                   (change)="updatePrecioTotal()" 
                   step="0.01" 
                   min="0"
                   class="price-input">
            <span matPrefix>S/.</span>
          </mat-form-field>
          <mat-icon fontIcon="delete" (click)="removeProducto(i)"></mat-icon>
        </div>
      </div>
      <div class="cart-total">
        <div class="cart-total_item">
          <p>Total:</p>
          <p>S/.{{totalPriceView | number:'1.2-2'}}</p>
        </div>
      </div>
       
    </form> 
  </div>
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn-cancel" mat-button mat-dialog-close>Cancelar Venta</button>
  <button *ngIf="data.operation == 'create'" mat-button (click)="onCreate()" cdkFocusInitial>Guardar Venta</button>
  <button *ngIf="data.operation == 'update'" mat-button (click)="onUpdate()" cdkFocusInitial>Guardar Venta</button>
</mat-dialog-actions>
