.example-form {
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

mat-radio-button {
    margin: 0px 20px;
  }


.metodo-pago {
  margin: 15px 0;



}

.metodo-pago mat-radio-button {
  margin-right: 15px;
}


// // Colores sin seleccionar - círculo exterior
// ::ng-deep .metodo-pago .mdc-radio__outer-circle {
//   border-color: #324c05 !important;
// }

// // Colores cuando está seleccionado - círculo interior
// ::ng-deep .metodo-pago .mat-mdc-radio-checked .mdc-radio__inner-circle {
//   background-color: #63e581 !important;
// }

// // Mantener el color del borde también cuando está checkeado
// ::ng-deep .metodo-pago .mat-mdc-radio-checked .mdc-radio__outer-circle {
//   border-color: #8fcd24 !important;
// }

// // Sobrescribir mat-accent
// ::ng-deep .metodo-pago .mat-accent.mat-mdc-radio-checked .mdc-radio__inner-circle {
//   background-color: #63e581 !important;
// }

// // Target adicional para forzar el color
// ::ng-deep .metodo-pago .mat-mdc-radio-checked {
//   .mdc-radio__inner-circle {
//     background-color: #63e581 !important;
//     fill: #63e581 !important;
//   }
// }

// :host ::ng-deep .mat-radio-button .mdc-radio__inner-circle {
//   background-color: red !important; /* Cambia a tu color deseado */
// }
.state-radio-button {
    margin-top: 20px;
    margin-bottom: 30px;
}


.select-div {
    display: flex;
    justify-content: space-around;
    // gap: 2rem;
    // margin-left: 1rem;
}


// ::ng-deep {
//   .metodo-pago .mat-mdc-radio-button .mdc-radio--checked {
    
//     background-color: #7380ec !important;
//   }

//   .metodo-pago .mdc-radio__native-control:checked {
//     border-color: #63e581 !important;
//   }

//   .metodo-pago .mdc-radio__outer-circle {
//     border-color: #324c05 !important;
//     // vilagro-color: #324c05 !important;
//   }


// }


.input-div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


button {
    height: 35px;
    background: #7380ec;
    color: #fff;
    border: #7380ec;
    border-radius: 40px;
    padding: 0 2rem;
    margin: 0.25rem;
    cursor: pointer;
}

.btn-cancel {
    height: 35px;
    // line-height: 40px;
    background: #fff;
    color: black;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 40px;
    padding: 0 2rem;
    cursor: pointer;
}

.cart {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
// .cart-title {
//     display: flex;
//     justify-content: space-around;
//     text-align: center;
//     width: 750px;
// }

.cart-title, .cart-element {
    display: grid;
    grid-template-columns: 1.1fr 1.3fr 1.5fr 1fr 0.8fr;
    align-items: center;
    gap: 10px;
    width: 750px;
}

.cart-element .sku-select {
    margin-top: 10px;
    width: 160px;
}

.cart-element .unitaryPrice {
    // margin-left: 38px;
    margin-top: 10px;
    width: 115px;
}

.unitaryPrice input::-webkit-outer-spin-button,
.unitaryPrice input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }

.price-input {
    text-align: center;
    padding-left: 10px;
}

.unitaryPrice span {
    position: absolute;
    left: 5px;
    top: 50%;
}

.unitaryPrice .mat-form-field-underline {
    display: none;
  }

.cart-element .product {
    margin-top: 10px;
}

.cart-element mat-icon {
    margin-top: -6px;
    margin-left: 51px;
    cursor: pointer;
}
.cart-title h3 {
    margin: 0;
    font-weight: bold;
  }

.cart-title .cantidad {
    margin-left: 50px;
}

// .cart .cart-element {
//     display: flex;
//     width: 750px;
//     justify-content: space-around;
//     text-align: center;
    
// }
.cart .cart-element .input-cantidad {
    display: flex;
    text-align: center;
}

.cart .cart-element button {
    color: #7380ec;
    width: 20px;
    height: 20px;
}



.example-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ajusta esto según tus necesidades */
}

.example-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 350px; /* Ajusta esta altura según tus necesidades */
    margin-bottom: 20px;
}

.table-header {
    padding: 10px;
}

.table-scroll {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #e0e0e0;

}

table {
    width: 100%;
}

.mat-mdc-header-row {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.mat-mdc-paginator {
    border: 1px solid #e0e0e0;
    border-top: none;
}

.cart {
    margin-top: 20px;
}

.input-name {
    width: 750px;
}


.quantity {
    display: inline-block; 
    padding: 5px;
    background-color:#eeeeee;
    border-radius: 15px;
}

.quantity .input-text.qty {
 width: 75px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: none;
 
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
    width: 180px;
    margin-left: 25px;
    margin-top: -10px;
}

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 10px 20px;
 height: 41px;
 background-color: white;
 border: none;
 cursor:pointer;
border-radius: 15px;
}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

.cart-total {
    margin-top: 30px;
    margin-left: 20px;
    width: 670px;
}


 .cart-total_item{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
 }

 .cart-total p {
    font-weight: bold;
    font-size: 20px;
 }
